.chatList {
    flex: 1;
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: rgba(6, 117, 58, 0.61) rgba(1, 17, 8, 0.61);


    .search {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;



        .searchBar {
            flex: 1;
            padding: 8px;
            background-color: rgba(3, 68, 33, 0.61);
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;


            input {
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        .add {
            width: 36px;
            height: 36px;
            background-color: rgba(3, 68, 33, 0.61);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }




    }

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(6, 117, 58, 0.61);

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                font-weight: 500;
            }

            p {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}